@use "sass:map";

$brand-primary: rgb(3 170 148 / 100%);
$component: (
  black: (
    87: rgb(33 33 33 / 100%),
    56: rgb(112 112 112 / 100%),
    26: rgb(189 189 189 / 100%),
    12: rgb(224 224 224 / 100%),
  ),
  white: rgb(255 255 255 / 100%),
  primary: (
    600: rgb(0 141 117 / 100%),
    400: $brand-primary,
    200: rgb(124 206 192 / 100%),
    50:rgb(223 243 240 / 100%),
  ),
  gray: (
    100: rgb(228 238 237 / 100%),
    50: rgb(238 244 243 / 100%),
  ),
  secondary: (
    300: rgb(255 184 57 / 100%),
    50: rgb(255 243 222 / 100%),
  ),
  tertiary: (
    800: rgb(55 103 184 / 100%),
    50: rgb(229 242 252 / 100%),
  ),
  critical: (
    600:rgb(222 60 75 / 100%),
    50:rgb(252 235 240 / 100%),
  ),
  link: (
    600: rgb(3 124 255 / 100%),
  ),
  visited: (
    800: rgb(102 0 153 / 100%),
  ),
);
$icon: (
  black: (
    87: rgb(33 33 33 / 100%),
    56: rgb(112 112 112 / 100%),
    26: rgb(189 189 189 / 100%),
    12: rgb(224 224 224 / 100%),
  ),
  white: rgb(255 255 255 / 100%),
  primary: (
    400: $brand-primary,
  ),
  secondary: (
    300: rgb(255 184 57 / 100%),
  ),
  critical: (
    600: rgb(222 60 75 / 100%),
    50:rgb(252 235 240 / 100%),
  ),
);
$background: (
  black: rgb(0 0 0 / 56%),
  white: rgb(255 255 255 / 100%),
  gray: (
    100: rgb(228 238 237 / 100%),
    50: rgb(238 244 243 / 100%),
  ),
  primary: (
    50: rgb(223 243 240 / 100%),
  ),
  secondary: (
    50: rgb(255 243 222 / 100%),
  ),
  critical: (
    50: rgb(252 235 240 / 100%)
  ),
  orange:rgb(252 136 28 / 100%),
);
$border: (
  black: (
    12: rgb(224 224 224 / 100%),
  ),
);
$sns: (
  facebook: rgb(24 119 242 / 100%),
  google: rgb(66 133 244 / 100%),
  line: rgb(0 185 1),
  twitter: rgb(29 161 242 / 100%),
);
$shadow: (
  gray: (
    56: rgb(0 0 0 / 56%),
    15: rgb(0 0 0 / 15%),
    12: rgb(0 0 0 / 12%),
  ),
);

@function get($map, $keys...) {
  @each $key in $keys {
    @if not map.has-key($map, $key) {
      @return null;
    }

    $map: map.get($map, $key);
  }

  @return $map;
}

@function get-bg($keys...) {
  @return get($background, $keys...);
}

@function get-border($keys...) {
  @return get($border, $keys...);
}

@function get-component($keys...) {
  @return get($component, $keys...);
}

@function get-icon($keys...) {
  @return get($icon, $keys...);
}

@function get-sns($keys...) {
  @return get($sns, $keys...);
}

@function get-shadow($keys...) {
  @return get($shadow, $keys...);
}
